body {
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-color: aquamarine;
  height: 250px;
}
